html, body{margin: 0px;padding: 0px;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
ul{margin: 0px;padding: 0px;list-style-type: none;}
a{text-decoration: none; color:#000;}
a:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active{outline: 0;}
img {border: none; outline: 0px;}
img {width: auto\9;height: auto;max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;}
h1, h2, h3, h4 { margin: 0px; }

.verticalM{vertical-align:middle;}
.oh {overflow:hidden;}
.posRel {position:relative}
.posAbs{position:absolute}
.posL0{left:0px !important;}
.posL5{left:5px !important;}
.posL10{left:10px !important;}
.posL20{left:20px !important;}
.posT0{top:0px !important;}
.posT-5{top:-5px !important;}
.posT-10{top:-10px !important;}
.posT5{top:5px !important;}
.posT7{top:7px !important;}
.posT10{top:10px !important;}
.posT20{top:20px !important;}
.posB0{bottom:0px !important;}
.posB5{bottom:5px !important;}
.posB10{bottom:10px !important;}
.posB20{bottom:20px !important;}
.posR0{right:0px !important;}
.posR5{right:5px !important;}
.posR10{right:10px !important;}
.posR15{right:15px !important;}
.posR20{right:20px !important;}
.posR30{right:30px !important;}
.z1000{z-index:1000 !important}
.z{z-index:9999 !important}
.left {float:left}
.right {float:right}
.center {text-align: center;}
.mCenter{margin:0px auto;}
.tLeft{text-align: left;}
.tRight{text-align: right;}
.none {display: none;}
.clear {clear: both;}
.clearLeft {clear: left;}
.clearRight {clear: right;}
.nomargin {margin: 0px !important;}
.nopadding {padding: 0px !important;}
.pre {white-space: pre-wrap;}
.bold {font-weight: bold;}
.cursor{cursor:pointer}
.clearFix { *zoom: 1;}
.clearFix:before,
.clearFix:after {display: table;line-height: 0;content: "";}
.clearFix:after { clear: both;}
.clearFix:after { clear: both;}
.width {width: 1000px;margin: 0 auto;clear: both;}
.block{display: block;}
.fixed{position:fixed; z-index:1000}
.btn {padding:5px 10px;cursor:pointer;}
/* width */
.w30{width:30px !important}
.w40{width:40px !important}
.w50{width:50px !important}
.w60{width:60px !important}
.w65{width:65px !important}
.w70{width:70px !important}
.w80{width:80px !important}
.w100{width:100px !important}
.w150{width:150px !important}
.w160{width:160px !important}
.w180{width:180px !important}
.w200{width:200px !important}
.w210{width:210px !important}
.w220{width:220px !important}
.w230{width:230px !important}
.w240{width:240px !important}
.w250{width:250px !important}
.w260{width:260px !important}
.w290{width:290px !important}
.w300{width:300px !important}
.w310{width:310px !important}
.w320{width:320px !important}
.w330{width:330px !important}
.w340{width:340px !important}
.w350{width:350px !important}
.w460{width:460px !important}
.w470{width:470px !important}
.w480{width:480px !important}
.w500{width:500px !important}
.w550{width:550px !important}
.w570{width:570px !important}
.w650{width:650px !important}
.w660{width:660px !important}
.w670{width:670px !important}
.w680{width:680px !important}
.w700{width:700px !important}
.w750{width:750px !important}
.wAbsolute{width:100% !important}
/* height */
.h30{height:30px !important}
.h35{height:35px !important}
.h40{height:40px !important}
.h45{height:45px !important}
.h50{height:50px !important}
.h80{height:80px !important}
.h100{height:100px !important}
.h160{height:160px !important}
.h180{height:180px !important}
.h200{height:200px !important}
.h300{height:300px !important}
.mH200{min-height:200px !important}
.mH500{min-height:500px !important}
/* padding */
.p5{padding:5px !important}
.pl5{padding-left:5px !important}
.pr5{padding-right:5px !important}
.pt5{padding-top:5px !important}
.pt30{padding-top:30px !important}
.pb5{padding-bottom:5px !important}
.p8{padding:8px !important}
.p10{padding:10px !important}
.pl10{padding-left:10px !important}
.pr10{padding-right:10px !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pb10{padding-bottom:10px !important}
.p20{padding:20px !important}
.pl20{padding-left:20px !important}
.pr20{padding-right:20px !important}
.pt20{padding-top:20px !important}
.pb20{padding-bottom:20px !important}
.pb30{padding-bottom:30px !important}
.pb40{padding-bottom:40px !important}
.pb50{padding-bottom:50px !important}
.pl100{padding-left:100px !important;}
.pl150{padding-left:150px !important;}
.pl200{padding-left:200px !important;}
/* margins */
.m5{margin:5px !important}
.ml5{margin-left:5px !important}
.mr5{margin-right:5px !important}
.mt5{margin-top:5px !important}
.mb5{margin-bottom:5px !important}
.m10{margin:10px !important}
.ml10{margin-left:10px !important}
.mr10{margin-right:10px !important}
.mt10{margin-top:10px !important}
.mb10{margin-bottom:10px !important}
.m15{margin:15px !important}
.ml15{margin-left:15px !important}
.mr15{margin-right:15px !important}
.mt15{margin-top:15px !important}
.mb15{margin-bottom:15px !important}
.m20{margin:20px !important}
.ml20{margin-left:20px !important}
.mr20{margin-right:20px !important}
.mt20{margin-top:20px !important}
.mb20{margin-bottom:20px !important}
.mt40{margin-top:40px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
.ml250{margin-left:250px !important}
.ml260{margin-left:260px !important}
.mb50{margin-bottom:50px !important}
.ml100{margin-left:100px !important}
.ml110{margin-left:110px !important}
.ml120{margin-left:120px !important}
.ml180{margin-left:180px !important}
.ml190{margin-left:190px !important}
.mr180{margin-right:180px !important}
.mr190{margin-right:190px !important}
.ml200{margin-left:200px !important}
.ml210{margin-left:210px !important}
.mr200{margin-right:200px !important}
.mr210{margin-right:210px !important}
.mr250{margin-right:250px !important}
/* borders */
.bBlue{border:1px solid #009AEF !important}
.bBl{border:1px solid #000 !important}
.bF1{border:1px solid #f1f1f1 !important}
.bDC{border:1px solid #dcdcdc !important}
.btF1{border-top:1px solid #f1f1f1 !important}
.btDC{border-top:1px solid #dcdcdc !important}
.bbF1{border-bottom:1px solid #f1f1f1 !important}
.bbDC{border-bottom:1px solid #dcdcdc !important}
.blF1{border-left:1px solid #f1f1f1 !important}
.brF1{border-right:1px solid #f1f1f1 !important}
.brBottomF1{border-bottom:1px solid #f1f1f1 !important}
.brTopF1{border-top:1px solid #f1f1f1 !important}
.radius3{-webkit-border-radius:3px !important; border-radius:3px !important, -moz-border-radius:3px !important, -o-border-radius:3px !important}
.radius5{-webkit-border-radius:5px !important; border-radius:5px !important, -moz-border-radius:5px !important, -o-border-radius:5px !important}
.radius10{-webkit-border-radius:10px !important; border-radius:10px !important, -moz-border-radius:10px !important, -o-border-radius:10px !important}
.radius50{-webkit-border-radius:50px !important; border-radius:50px !important, -moz-border-radius:50px !important, -o-border-radius:50px !important}
.radius100{-webkit-border-radius:100px !important; border-radius:100px !important, -moz-border-radius:100px !important, -o-border-radius:100px !important}
.shadowDC{-webkit-box-shadow:0px 0px 5px #dcdcdc !important; -moz-box-shadow:0px 0px 5px #dcdcdc !important; box-shadow:0px 0px 5px #dcdcdc !important; -o-box-shadow:0px 0px 5px #dcdcdc !important;}
.shadow999{-webkit-box-shadow:0px 0px 5px #999 !important; -moz-box-shadow:0px 0px 5px #999 !important; box-shadow:0px 0px 5px #999 !important; -o-box-shadow:0px 0px 5px #999 !important;}
/* backgrouns */
.bgWhite{background-color:white !important}
.bg666{background-color:#666 !important}
.bgF1{background-color:#f1f1f1 !important}
.bgDC{background-color:#dcdcdc !important}
.bgBlue{background-color:#009AEF !important}
.bgOrange{background-color:#F15A2A !important}
/* fonts */
.f06{font-size:0.6em !important}
.f07{font-size:0.7em !important}
.f08{font-size:0.8em !important}
.f09{font-size:0.9em !important}
.f10{font-size:1.0em !important}
.f12{font-size:1.2em !important}
.f14{font-size:1.4em !important}
.f16{font-size:1.6em !important}
.f20{font-size:2.0em !important}
.f30{font-size:3.0em !important}
/* colors */
.cWhite{color:#fff !important}
.cBlue{color:#009AEF !important}
.cOrange{color:#F15A2A !important}
.c666{color:#666 !important}
.c999{color:#999 !important}
.cDC{color:#dcdcdc !important}
.cF1{color:#f1f1f1 !important}
/* other */
.op8{opacity:0.8}
.op6{opacity:0.6}
.op0{opacity:0}
.upper{text-transform:uppercase}

a.link{text-decoration:none;}
a.link:hover{text-decoration:underline;}
a.linked{text-decoration:underline}
a.linked:hover{text-decoration:none;}

.whiteContainer{ background:#fff; border:1px solid #dcdcdc;}
.title
{
    color:#666;
    background: #cfd1cf;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cfd1cf));
    background-image: -moz-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: -webkit-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: -o-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: -ms-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: linear-gradient(top,#f5f5f5,#cfd1cf);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');
    font-size:1.0em;
}

